menu{
    position: fixed;
    top: 0;
    left: 0;
    width: 80px;
    height: 100vh;
    background: red;
}

.menuItem{
    width: 80px;
    height: 80px;
    background: #000;
    margin-bottom: 10px;
}

header{
    position: fixed;
    top: 0;
    right: 0;
    width: calc(100% - 80px);
    height: 80px;
    background: blue;
}

.container{
    width: calc(100% - 130px);
    height: 300px;
    margin: 95px 0 0 105px;
    background: green;
}