@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;600;800;900&display=swap);

body {
  font-family: 'Roboto', sans-serif;
}

.container{
    width: calc(100% - 130px);
    margin: 95px 0 0 105px;
}

.pageTitle h1{
    font-size: 20px;
    color: #333;
}

.content{
    width: calc(100% - 50px);
    padding: 25px;
    border-radius: 20px;
    margin: 20px 0 40px 0;
}

.contentWhite{
    background: #fff;
    padding: 25px;
    border-radius: 20px;
}

.contentForm{
    width: 460px;
}

.contentInfo{
    width: calc(100% - 585px);
}

.contentTitle{
    width: 100%;
}

.contentTitle h2{ 
    color: #333;
    font-size: 20px;
    font-weight: 500;
    width: 100%;
}

.spaceBetween{
    display: flex;
    justify-content: space-between;
}

.tableContent{
    margin-top: 20px;
}

table{
    border-radius: 10px;
    overflow: hidden;
    width: 100%;

    border-spacing: 0px;
    border-collapse: collapse;
}

tr{
    text-align: left;
    padding: 20px;
    border: 0px;
}

tr:nth-child(2n){
    background: #FAFAFA;
}

tr:hover{
    background: #FAFAFA;
}

th{
    color: #999;
    font-size: 14px;
    padding: 20px 10px;
    font-weight: unset;
}

td{
    padding: 20px;
    color: #666;
    border-top: 1px solid #eeecec;
    font-size: 14px;

}

.userTable{
    display: flex;
    align-content: center;
    align-items: center;
}

.userTableImg{
    width: 35px;
    height: 35px;
}

.userTableImg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.userTableName{
    text-align: left;
    margin-left: 10px;
}

.userTableName h2{
    font-size: 12px; 
    font-weight: 500;
    color: #333;
}

.userTableName p{
    color: #999;
    font-size: 10px;
}

.tdAction{
    margin-left: 15px;
}

.tdAction svg{
    fill: #999;
    height: 13px;
}

/* status */

.status{
    padding: 5px 10px;
    border-radius: 5px;
}

.statusApproved{
    background: #14af00;
    color: #fff;    
}

.statusCancelled{
    background: #ccc;
    color: #fff;    
}

.detailsRow {
    display: none;
    width: 100%;
}

.detailsContent {
    /* padding: 15px; */
    width: 100%;
}


/* form */

.input{
    width: calc(100% - 22px);
    padding: 16px 10px;
    background: #FAFAFA;
    border-radius: 5px;
    margin-top: 15px;
    font-size: 15px;
}

.select{
    width: 100%;
    padding: 16px 10px;
    background: #FAFAFA;
    color: #666;
    border-radius: 5px;
    margin-top: 15px;
    font-size: 15px;
}

.textarea{
    width: calc(100% - 22px);
    height: 120px;
    padding: 16px 10px;
    background: #FAFAFA;
    border-radius: 5px;
    resize: vertical;
    margin-top: 15px;
}


.swal2-actions{
    align-items: center;
}

.custom-ok-button , .custom-delete-button{
    background: none !important;
    border: none !important;
    box-shadow: none !important;
    color: inherit !important;
    padding: 0.5em 1em !important;
    font: inherit !important;
    cursor: pointer !important;
    outline: none !important;
}

.custom-ok-button:focus ,  .custom-delete-button:focus{
    outline: none !important;
    box-shadow: none !important;
}

.custom-ok-button, .custom-delete-button{
    display: inline-block;
    padding: 14px 28px !important;
    background: #FF8A00 !important;
    border: 1px solid #FF8A00 !important;
    border-radius: 5px;
    margin-top: 15px;
    transition: .4s;
    color: #fff !important;
    border-radius: 4px;
    font-size: 15px;
}

.custom-ok-button:hover{
    background: none !important;
    color: #FF8A00 !important;
    border: 1px solid #FF8A00 !important;
}

.custom-ok-button:active, .custom-delete-button:active{
    box-shadow: 0 !important;
    /* border: 0 !important; */
}

.custom-ok-button:focus, .custom-delete-button:focus{
    box-shadow: 0 !important;
}

.custom-delete-button{
    background: #ff3737 !important;
    border: 1px solid #ff3737 !important;
}

.custom-delete-button:hover{
    background: none !important;
    color: #ff3737 !important;
    border: 1px solid #ff3737 !important;
}

.custom-cancel-button {
    background: none !important;
    border: none !important;
    box-shadow: none !important;
    color: inherit !important;
    padding: 0.5em 1em !important;
    font: inherit !important;
    cursor: pointer !important;
    outline: none !important;

    display: inline-block;
    padding: 14px 28px;
    background: none !important;
    border-radius: 5px;
    margin-top: 15px;
    transition: .4s;
    color: #999 !important;
    border-radius: 4px;
    font-size: 15px;
}

.custom-cancel-button:focus {
    outline: none !important;
    box-shadow: none !important;
}

.btn{
    display: inline-block;
    padding: 14px 28px;
    background: #FF8A00;
    border: 1px solid #FF8A00;
    border-radius: 5px;
    margin-top: 15px;
    transition: .4s;
    color: #fff;
    border-radius: 4px;
    font-size: 15px;
}

.btn:hover{
    background: none;
    color: #FF8A00;
}

.formSpaceBetween{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.input50{
    width: 48%;
}

/* modal */

.modal {
    display: none; 
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 0;
    transition: opacity 0.5s;
    visibility: hidden;
}

.modal.show {
    display: block; 
    opacity: 1;
    visibility: visible;
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 20px;
    width: 80%;
    max-width: 500px;
    transition: transform 0.5s, opacity 0.5s;
    transform: translateY(-50px);
    opacity: 0;
}

.modalContentHead{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modalContentHead h2{
    font-size: 16px;
    color: #333;
}

.modalContentForm{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.modalInputLabel{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 25px;
}

.modalInputLabel label{
    color: #666;
}

.modalInputLabel input{
    width: 90%;
    background: #fff;
    padding: 10px;
    color: #999;
    background: #f2f2f2;
    border-radius: 10px;
    margin-left: 10px;
}

.modal-content.show {
    transform: translateY(0);
    opacity: 1;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}