@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;600;800;900&display=swap);

body {
  font-family: 'Roboto', sans-serif;
}

.container{
    width: calc(100% - 130px);
    height: 300px;
    margin: 95px 0 0 105px;
    background: green;
}